.post-category {
	font-size: 40px;
}


.masonry-wrap {
	display: block;
	margin: 150px auto;
	.masonry-brick { 
		border: 2px solid black;
		width: 220px;
		margin-bottom: 5px;
		h1 {
			font-size: 25px;
			font-weight: bold;
		}
		img {
			width: 216px;
		}
		.postedby {
			
		}
		.postCollect {
			font-weight: bold;
		}
	}
}

.addpostModal {
	padding: 40px;
}